* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
/*10px/16px = 0.625 = 62.5%*/

html {
  font-size: 62.5%;
  background-color: #fffae6;
}
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  color: #777;
}
.flex{
  display: flex;
}
.btn {
  padding: 2rem 2rem;
  border-radius: .8rem;
  color: #fff !important;
  background-color: #0066ff;
  border: none;
}
.btn:hover {
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

/* ******NAVIGATION****** */
.header {
  width: 80%;
  margin: 5rem auto;
  margin-bottom: 15rem;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.logo-section {
  gap:  1rem;
}
.btn-hiring {
  color: #fff !important;
  padding: .7rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #ff9933 0%, #ff0000 100%);
}
.btn-hiring:hover {
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}
.middel-nav,
.end-nav {
  gap:  2rem;
}
.main-nav {
  justify-content: space-between;
  /*gap: 20rem;*/
}
.main-nav-list {
  justify-content: space-between;
  gap:  1rem;
}
.main-nav-list {
  list-style: none;
  gap:  20rem;
}
.main-nav-list-links {
  text-decoration: none;
  color: #777;
  font-family: 'Lato', sans-serif;
}
.main-nav-list-links:hover {
  text-decoration: underline;
  color: #000;
}

/* *****MOBILE NAVIGATION*** */
.btn-mobile-nav {
  border: none;
  float: right;
  display: none;
}
.icon-mobile-nav {
  height: 4.6rem;
  width: 4.6rem;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*  ****HERO SECTION ******* */
.hero-section {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 15rem;
  position: relative;
  padding-top: 8rem;
}
.hero-left-content,
.hero-right-content {
  width: 50%;
}
.hero-main-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #000;
}
.hero-main-text {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
  width: 85%;
}
.email {
  gap: 2rem;
}
.email-input {
  padding: 2rem;
  background-color: #fff;
  border-radius: .8rem;
  border:  1px solid #fffae6;
  width: 55%;
}
.hero-benefit {
  margin-top: 3rem;
  gap:  1rem;
  align-items: center;
}
.hero-right-content {
  justify-content: end;
}
.photo {
  position: absolute;
  top: 0;
  bottom: 0;
}
.model-img {
  width: 100%;
  z-index: 10;
  position: absolute;
}
.blue-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -4;
  transform: rotate(-40deg);
}
.pink-img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
  transform: rotate(-25deg);
}
.purple-img {
  right: 0;
  left: 0;
  top: 0;
  z-index: -2;
  transform: rotate(-15deg);
}

/*  ****FOOTER SECTION ******* */
.section-footer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: space-between;
}
.footer-left-content,
.footer-right-content {
  gap:  1rem;
}
.btn-links {
  text-decoration: none;
  color: #777;
  font-family: 'Lato', sans-serif;
}
.btn-links:hover {
  text-decoration: underline;
  color: #000;
}
.specialist-text {
  color: #000;
  font-weight: 800;
}
/**********************/
/*Below 944px (Tablets*/
/***********************/

@media(max-width:59em ){
  html {
    /*8px /16 = 0.5*/
    font-size: 70%;
  }
  .btn-mobile-nav {
    display: block;
    z-index:  1000;
  }
  .header {
    position: relative;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;
    
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .middel-nav,
  .end-nav {
    flex-direction: column;
    gap:  4.8rem;
  }
  .main-nav-list {
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .hero-section {
    flex-direction: column-reverse;
    gap:  35rem;
    width: 95%;
    margin-bottom: 5rem;
  }
  .hero-main-text,
  .hero-left-content,
  .hero-right-content {
    width: 90%;
  }
  .photo {
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
  }
  .section-footer {
    width: 85%;
  }
}

@media only Screen and (max-width: 40em) {
  html {
    font-size: 70%;
  }
  .header {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .main-nav-list {
    gap: 3rem;
    left: 2%;
  }
  .hero-section {
    gap: 24rem;
  }
  .email {
    flex-direction: column;
    gap:  2rem;
    width: 100%;
  }
  .email-input {
    width: 100%;
  }
  .photo {
    position: absolute;
    top: 0;
    left: 5rem;
    bottom: 0;
  }
  .model-img {
    width: 90%;
  }
  .blue-img,
  .pink-img,
  .purple-img {
    width: 90%;
  }
  .section-footer {
    width: 85%;
    flex-direction: column;
    gap:  3rem;
    align-items: flex-start;
  }
}